* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.cell:has(he),
.print-table td:has(he),
.idx:has(he) {
  /* color: lightgray !important; */

  background-color: var(--header) !important;
}

he {
  font-weight: bolder;
  color: lightgray !important;
}
.print-table td:has(ce),
.cell:has(ce) {
  text-align: center;
}

:root {
  --bg: rgb(20, 13, 30);
  --cell: rgba(90, 64, 120, 0.263);
  --cell-high: rgba(90, 64, 120, 0.486);
  --header: rgba(97, 66, 122, 0.973);
  --color: lightgrey;
  --cell-border: rgba(154, 132, 187, 0.728);
  --btn: rgb(97, 97, 196);
  --btn-high: rgb(103, 103, 237);
}

html,
body {
  background-color: var(--bg);
  height: 100vh;
}
#app {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 0 0.5rem;
}

/* Minimal Modern Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--btn);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--btn-high);
}
/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--btn) transparent;
}
